Screen {
    layout: vertical;
}


#sync-status {
    dock: bottom;
    height: auto;
    background: $accent 10%;
    color: $text;
    border: solid $primary;
    padding: 0 1;
}

#sync-status.success {
    background: $success 20%;
}

#sync-status.error {
    background: $error 20%;
}
